/* перемінні параметри */
:root {
  --primary-background-color: #f5f5f5;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --white-color: #fff;
  --black-color: #000;
  --border-color: #ececec;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-studio2 {
  color: var(--white-color);
}

.logo-studio {
  color: var(--black-color);
}

/* навігація */
.navigation-list a {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

nav .portfolio,
nav .studio {
  color: var(--accent-color);
}

.navigation a:hover,
.navigation a:focus {
  color: var(--accent-color);
}

.navigation-list {
  list-style: none;
}

.contacts-list {
  list-style: none;
}

.contacts-list a {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.contacts-list a:hover,
.contacts-list a:focus {
  color: var(--accent-color);
}

.section-hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* секція "особливості" */

.features-list {
  list-style: none;
}

.section-features h3 {
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--title-text-color)
}

.section-features p {
  line-height: 1.7;
}

/* секція "чим ми займаемося" */

.job-list {
  list-style: none;
}

.job-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-text-color)
}

/* секція "наша команда" */
.section-team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color:var(--title-text-color)
}

.team-list {
  list-style: none;
}

.team-item {
  background-color: var(--white-color);
}

.section-team p {
  line-height: 1.7;
}

.section-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* підвал */
footer {
  background-color: #2f303a;
}

.logo-studio2 {
  color: var(--white-color);
}

/* адреса */
address {
  font-style: normal;
  line-height: 1.7;
}

.address-list {
  list-style: none;
}

address a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

address a:hover,
address a:focus {
  color: var(--accent-color);
}

.location {
  color: var(--white-color);
}

/* portfolio */

.filters-list {
  list-style: none;
}

.filter-item button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  background-color: #f5f4fa;
  color: var(--title-text-color)
}

.filter-item button:hover,
.filter-item button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.projects-list {
  list-style: none;
}

.project-item a {
  text-decoration: none;
}

.project-item h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-item p {
  font-size: 16px;
  line-height: 1.9;
}
